body {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    }

.header {
    display: flex;
    align-items: left;
    margin-bottom: 40px;
}

.main {
    display: flex;
    flex-direction: column;
}

.senryuCardContainer {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.generateButtonContainer {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.errorMessageContainer {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.tweetButtonContainer {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}