body {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    }

.header {
    display: flex;
    align-items: left;
    margin-bottom: 40px;
}

.main {
    display: flex;
    flex-direction: column;
}

.senryuCardContainer {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(10px);
}

.senryuCardFadeIn {
    animation: senryuCardFadeIn 0.5s ease-in-out forwards;
}

@keyframes senryuCardFadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.generateButtonContainer {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.generateButtonFadeIn {
    animation: generateButtonFadeIn 0.5s ease-in-out forwards;
}

.generateButtonFadeOut {
    animation: generateButtonFadeOut 0.5s ease-in-out forwards;
}

@keyframes generateButtonFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes generateButtonFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.errorMessageContainer {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.tweetButtonContainer {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(10px);
}

.tweetButtonFadeIn {
    animation: tweetButtonFadeIn 0.5s ease-in-out forwards;
}

@keyframes tweetButtonFadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}